@{
    ViewData["Title"] = "Your Activities";
}
<style>
    table {
        width:100%;
        border: 1px solid black
    }
    tr:nth-child(even) {
        background-color: #dfdfdf;
    }
    th {
        border: 1px solid grey;
    }
    td {
        vertical-align: top;
        border-left: 1px solid grey;
    }
</style>

<p>Here you can inspect, create, edit and delete activities.</p>

<form method="post">
    <p>Change date below:</p>
    <input type="date" name="date" required>
    <input type="submit" name="type" value="Change Date">
</form>
@{
    if (!Model.IsMonthlyView)
    {
        <a asp-area="" asp-controller="Home" asp-action="UserActivitiesView" asp-route-month="true">Click here to see the monthly view.</a>
    }
    else
    {
        <a asp-area="" asp-controller="Home" asp-action="UserActivitiesView" asp-route-month="false">Click here to see the daily view.</a>
    }
}


<br>
@{
    if (Model != null && Model.Date != DateTime.MinValue) {
        if (Model.IsMonthlyView)
        {
            <h3>Activities for @Model.GetMonth()</h3>
            <a asp-area="" asp-controller="Home" asp-action="UserActivitiesLock" asp-route-date="@Model.Date">Lock this month</a>
        }
        else
        {
            <h3>Activities for @Model.Date.ToString("D")</h3>
        }
    }
}

<br>
<div class="text-center">
    @{
        if (Model != null && Model.UserMonth != null)
        {
            <a asp-area="" asp-controller="Home" asp-action="UserActivitiesCreatorView">Click here to add a new user activity.</a>
            if (!Model.IsInvalid)
            {
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Project</th>
                            <th>Category</th>
                            <th>Time</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var activity in Model.GetActivities())
                        {
                            <tr>
                                <td>@activity.Date.ToString()</td>
                                <td>@activity.ProjectId</td>
                                <td>@activity.Subactivity.SubactivityId</td>
                                <td>@activity.Time</td>
                                <td>@activity.Description</td>
                                <td>
                                    <a style="display: inline-block;" asp-controller="Home" asp-action="UserActivitiesView">Inspect</a>
                                    @if (!Model.UserMonth.Frozen)
                                    {
                                        <a style="display: inline-block;" asp-controller="Home" asp-action="UserActivitiesEditorView"
                                            asp-route-code="@activity.ProjectId"
                                            asp-route-date="@activity.Date"
                                            asp-route-subcode="@activity.Subactivity.SubactivityId">Edit</a>
                                        <a style="display: inline-block; color:red;" asp-controller="Home" asp-action="UserActivityDelete"
                                            asp-route-code="@activity.ProjectId"
                                            asp-route-date="@activity.Date"
                                            asp-route-subcode=@activity.Subactivity.SubactivityId>Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Couldn't find this month's activities!</p>
            }
        }
        else
        {
            <p><i>Only logged users can see and add activities.</i></p>
        }
    }
</div>

<br>
<a asp-area="" asp-controller="Home" asp-action="Index">Go back</a>
