@{
    ViewData["Title"] = "Projects";
}

<style>
    table {
        width:100%;
        border: 1px solid black
    }
    tr:nth-child(even) {
        background-color: #dfdfdf;
    }
    th {
        border: 1px solid grey;
    }
    td {
        vertical-align: top;
        border-left: 1px solid grey;
    }
</style>

<p>Here you can inspect, create and close projects.</p>

<div class="text-center">
    @{
        if (Model != null && Model.Projects != null)
        {
            <a asp-area="" asp-controller="Home" asp-action="ProjectsCreatorView">Click here to create a new project.</a>
            if (Model.Projects.Count != 0)
            {
                <table>
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Manager</th>
                            <th>Name</th>
                            <th>Budget</th>
                            <th>Active</th>
                            <th>Subactivities</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.Projects)
                        {
                            <tr>
                                <td>@project.code</td>
                                <td>@project.manager</td>
                                <td>@project.name</td>
                                <td>@project.budget</td>

                                @if (@project.active == true)
                                {
                                    <td style="color:green;">Active</td>
                                }
                                else
                                {
                                    <td style="color:red;">Closed</td>
                                }
                                
                                <td>
                                    @foreach (var subactivity in project.subactivities)
                                    {
                                        @subactivity.code<text><br></text>
                                    }
                                </td>
                                <td>
                                    @if (Model.User == project.manager)
                                    {
                                        <a style="display: inline-block;" asp-controller="Home" asp-action="ProjectInspector" asp-route-code="@project.code">Inspect</a>
                                        @if (project.active)
                                        {
                                            <a style="display: inline-block; color:red;" asp-controller="Home" asp-action="ProjectClose" asp-route-code="@project.code">Close</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Couldn't find projects!</p>
            }
        }
    }
</div>

<br>
<a asp-area="" asp-controller="Home" asp-action="Index">Go back</a>
